<!DOCTYPE html>
<link rel="stylesheet" href="assets/main.css">
<head>
    <title>Zachary Latusek's homepage!</title>
</head>
<span class="header">
    <img src="/assets/lizard_1.png" alt="">
    <h1> Zachary Latusek </h1>
    <a style="margin-left: 20px;" href="/"><button>Home</button></a>
    <div class="dropdown">
        <button>My works</button>
        <div class="dropdown-content">
            <a href="/work.html">My Job</a>
            <a href="/audioimage.html">Audio Image</a>
            <a href="/chatbot.html">Chatbot</a>
            <a href="/voiceassist.html">Voice Assistant</a>
            <a href="/workinprogress.html">Works in progress</a>
        </div>
    </div>
    <div class="dropdown">
        <button>Contact me!</button>
        <div class="dropdown-content">
            <a>+1 (567)970-1869</a>
            <a>zacharylatusek@gmail.com</a>
        </div>
    </div>
</span>