---
---

.imgmax{
    display: flex;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}
.imgcut{
    width: 850px;
    height: 850px;
    overflow: hidden;
}
.center{
    display: flex;
    margin: auto;
}
.header{
    padding: 10px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header img{
    max-width: 38px;
    max-height: 38px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a{
    padding: 14px;
    background-color: lightslategray;
    color: black;
    display: block;
    text-decoration: none;
}

button{
    min-height: 36px;
    min-width: 78px;
}
pre{
    margin: 18px;
    display: flex;
}
code{
    padding: 20px;
    border: 5px solid black;
    background-color: lightslategrey;
}
body {
    margin: 15px;
}
.dropdown-content a:hover {background-color: lightsteelblue;}
.dropdown:hover .dropdown-content {display: block;}
