---
permalink: /404.html
---
{% include header.html %}
<body>
    <h1>Howdy</h1>
    <p>This is just a site to link a few AL projects that may be of use. Basically there is a full simulator (WIP) made in Unity to completely recreate the game, yell at me on discord if you are interested are have any insights to the code. Then there is the general math tool which is linked below. It's a bit large so sorry about that.
        The math tool has a bunch of functions called "Stubs" that all have a role, if you have basic python expierence you can make your own Stub and put it in the folder and it will automatically add it to the tool. The goal was to make like a community driven calculator tool but there's like 5 people who actually care.
        Currently the tool can precisely calculate damage, reload times, and AA information. Only the damage tool has been thoroughly vetted so please feel free to yell at me if you think you found a bug.
    </p>
    <p><a href="https://drive.google.com/file/d/1T8LyKM5n0QG_uR0rjNomHaBaaW0Dw1CK/view?usp=sharing">Link to google drive that holds the simulator's simulator</a></p>
    <h1>Way better stuff</h1>
    <p><a href="https://docs.google.com/spreadsheets/d/1HF6_hLEB8m_v0stp4DLGnIoDjgojvo7fjYz-cysjTMc/edit#gid=0">MeBots EhP chart that is super useful</a></p>
    <p><a href="https://nagami.moe/">Nagami's site that has so much stuff that is all very useful and that I definitely don't use to check to see if my stuff is correct.</a></p>
    <p><a href="https://samheart564.github.io/ECGC/">Sam's guides that I still read because I can't be bothered to do math at 2 am when updates drop</a></p>
</body>
