---
permalink: /404.html
---
{% include header.html %}
<body>
    <h1>Howdy! </h1>
    <img src="/assets/karate.png" alt="" class="center">
    <div style="text-align: center;">
        <p>After getting my third degree black belt May 8 2021. The belt didn't come in time so I had to photoshop the stripe on.</p>
    </div>
    <h3>A bit about my programming journey</h3>
    <p>My name is Zachary Latusek and I have been programming since 2019. When I was younger I had a few experiences with programming however
        it was block programming and I was intimidated by how the real code looked I never tried to dig deeper. Cue a few years later I'm bored 
        and I remember my uncle giving me some basic training for a class he was going to teach. I look up "most useful programming language to know" 
        to know and then look up a C++ online editor and began mashing away. After about 4 hours and a lot of confused googling I look up
        "easiest programming language to learn" and after some reading I settle on Python and my journey began. I worked on various projects, 
        some of which are documented here, by myself trying to teach myself as much as I could. After many years of spending as much of my 
        free time as I could programming I began to feel more confident in my abilites. Through some networking I met a company who was looking 
        for a programming intern and I ended up getting the job.
    </p>
</body>
